.btn {
  border-radius: 2px;
  display: inline-block;
  padding: 14px 24px;
  line-height: 1;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  -webkit-transition: all 0.3s;
          transition: all 0.3s;
  cursor: pointer;
  color: #ffffff;
  outline: 0;
  background: #0863af;
  border: 1px solid #0863af;
  box-sizing: border-box;
  margin: 0;
}
.btn:hover {
  background: #06477e;
  border-color: #06477e;
}
.btn--disabled, .btn--disabled:hover {
  cursor: default;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea,
select {
  box-shadow: none;
  box-sizing: border-box;
  background: none;
  display: block;
  margin: 0;
  padding: 12px;
  width: 100%;
  line-height: 30px;
  font-size: 18px;
  color: #576166;
  border: 1px solid #ccc;
  border-radius: 2px;
  background: #fafafa;
  outline: none;
  margin-bottom: 10px;
}

input[type="radio"] {
    margin-bottom: 22px;
    margin-right: 8px;
}

select {
    height: 40px;
    line-height: 40px;
}
